nav {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

.bg-transparent {
  background-color: transparent;
}

.navbar-brand {
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 37px;
  color: #282e2e;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler {
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  background-color: transparent;
  border: none !important;
  border-radius: 0 !important;
}

.menu-container {
  position: relative;
  height: 20px;
  width: 30px;

  .menu {
    position: absolute;
    top: 9px;
    right: 0;
    height: 2.91px;
    width: 11.99px;
    background: #ffffff;
    border-radius: 5px;

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      right: 0;
      height: 2.91px;
      width: 27.98px;
      background: #ffffff;
      border-radius: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      right: 0;
      height: 2.91px;
      width: 22.98px;
      background: #ffffff;
      border-radius: 5px;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-brand {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    background: linear-gradient(90deg, #2bd37f 70%, #282e2e 30%);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

    .navbar-brand {
      color: #ffffff;
    }
  }
}
