<footer>
    <div class="container">
        <div class="footer d-flex flex-column flex-lg-row justify-content-lg-between justify-content-center align-items-center">
            <span class="logo mb-4 mb-lg-0">foto.</span>
            <span class="copyright mb-4 mb-lg-0 text-center">Designed by AlabaartUI2020 and Developed by Osimosu Oluwatobi James</span>
            <div class="social-icons">
                <a href="#"><img src="assets/images/icon1.svg" alt="Social Icon" class="icon mr-4"></a>
                <a href="#"><img src="assets/images/icon2.svg" alt="Social Icon" class="icon mr-4"></a>
                <a href="#"><img src="assets/images/icon3.svg" alt="Social Icon" class="icon mr-4"></a>
                <a href="#"><img src="assets/images/icon4.svg" alt="Social Icon" class="icon"></a>
            </div>
        </div>
    </div>
</footer>