<div id="about-us">
    <span class="side-block"></span>
    <div class="custom-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="assets/images/about.jpg" alt="" class="img-fluid about-us-img">
            </div>
            <div class="col-12 col-md-6">
                <div class="about-us">
                    <div class="about-us-header">About Us</div>
                    <div class="about-us-text">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut
                        labore et dolore magna aliquyam erat, sed diam voluptua.
                    </div>
                    <button class="about-us-btn" mat-button>See More <img src="assets/images/arrow.svg" alt="arrow" class="marginLeft arrow"></button>
                </div>
            </div>
        </div>
    </div>
</div>