<!-- <div id="landing-page" class="row marginX-reset">
    <div class="col-8 white">
        <div class="container">
            <span class="display-text">All About Photography</span>
            <span class="display-subtext">Creating Memories</span>
            <button class="collections-btn" mat-button>2020 Collections <img src="assets/images/arrow.svg" alt="arrow" class="marginLeft landing-svg"></button>
        </div>
    </div>
    <div class="col-4 green">
        <span class="number">01</span>
    </div>
    <img src="assets/images/landing-page.svg" alt="Landing Page Image" class="landingPageImage img-fluid">
    <div class="play-video-container">
        <button class="play-video-btn" mat-mini-fab ><img src="assets/images/play-video.svg" alt="Play Video" class="landing-svg"></button>
        <span class="play-video-text">Play Video</span>
    </div>
</div> -->

<!-- <div id="landing-page" class="row marginX-reset"> -->

<div id="landing-page">
    <div class="container">
        <div class="landing-page">
            <div class="">
                <span class="display-text">All About Photography</span>
                <span class="display-subtext">Creating Memories</span>
                <button class="collections-btn" mat-button>
                    2020 Collections
                    <img src="assets/images/arrow.svg" alt="arrow" class="marginLeft landing-svg">
                </button>
            </div>
            <div class="">
                <span class="number">01</span>
            </div>
        </div>
        <!-- <img src="assets/images/lp.svg" alt="Landing Page Image" class="landingPageImage img-fluid"> -->
        <div class="play-video-container">
            <button class="d-flex d-md-none play-video-btn" mat-mini-fab><img src="assets/images/play-video.svg"
                    alt="Play Video" class="landing-svg"></button>

            <button class="d-none d-md-flex play-video-btn" mat-fab><img src="assets/images/play-video.svg"
                    alt="Play Video" class="landing-svg"></button>

            <span class="play-video-text">Play Video</span>
        </div>
    </div>
</div>