/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

button:active,
button:focus,
button:hover {
  outline: none !important;
}

.custom-container {
  position: relative;
  width: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}