/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

button:active,
button:focus,
button:hover {
  outline: none !important;
}

.custom-container {
  position: relative;
  width: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.scroll #landing-page {
  // transform: scale(0.95);
}

.scroll nav {
  background: linear-gradient(90deg, #2bd37f 70%, #282e2e 30%);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  .navbar-brand {
    color: #ffffff;
  }
}
